@using CatalogTop.Models.Account;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Account";
}
@model List<Claim>

<div class="text-center">
    <h1 class="display-4">You Account</h1>
    @foreach (var item in Model)
    {
        @item.ToString();
    }
    <a class="btn btn-outline-danger" asp-controller="Account" asp-action="Logout">Выйти</a>

@*    <p>Email @Model.Email</p>
    <p>Password @Model.Password</p>
    <p>Coin @Model.Coin</p>
    <p>Status @Model.Status</p>
    <p>Visit @Model.LastVisit</p>*@
</div>
